/* 
NOTE
If you want to choose gradients you can use this website 
https://www.grabient.com 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: blanchedalmond;
}

.card {
  width: 700px;
  background-color: #ccc;
  padding: 20px;
  margin: 20px;
  font-family: sans-serif;
  line-height: 28px;
}

/* Scrollbar */
::-webkit-scrollbar {
  background-color: burlywood;
  width: 12px;
  /* border: 2px dashed white; */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#21d4fd, #b721ff);
  border-radius: 100px;
}
