* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
}

.loading {
  background: orange;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 0 10px;
  animation: Load 0.8s ease infinite;
}

.one {
  animation-delay: 0.5s;
}
.two {
  animation-delay: 0.6s;
}
.three {
  animation-delay: 0.7s;
}

@keyframes Load {
  0% {
    width: 30px;
    height: 30px;
  }
  50% {
    width: 15px;
    height: 15px;
  }
}
