* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: coral;
}

.btn {
  border: none;
  padding: 1rem 4rem;
  font-size: 22px;
  background: rgba(17, 17, 137, 0.824);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.btn::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 24px;
  height: 24px;
  /* background: teal; */
  border-top: 4px solid darkblue;
  border-left: 4px solid darkblue;
  transition: all 0.2s;
}

.btn::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 24px;
  height: 24px;
  /* background: teal; */
  border-bottom: 4px solid darkblue;
  border-right: 4px solid darkblue;
  transition: all 0.2s;
}

.btn:hover::before {
  /* width: 105.8%; */
  /* height: 122%; */
  width: 100%;
  height: 100%;
}
.btn:hover::after {
  /* width: 105.8%; */
  /* height: 122%; */
  width: 100%;
  height: 100%;
}
