* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 22px;
  font-weight: bold;
  transition: 1s;
}

/* handle border top and bottom */
ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scaleY(2);
  border-top: 2px solid crimson;
  border-bottom: 2px solid crimson;
  transition: 1s;
}

ul li a:hover::before {
  transform: scaleY(1.2);
  opacity: 1;
}

ul li a::after {
  content: "";
  background: crimson;
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 1s;
  z-index: -1;
}

ul li a:hover::after {
  transform: scale(1);
}

ul li a:hover {
  color: white;
}
