* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  width: 300px;
  height: 60px;
  text-decoration: none;
  text-align: center;
  background: transparent;
  font-family: sans-serif;
  line-height: 60px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: #06c988a4;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.2s;
  transform-origin: top;
}

a::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: #ffff00a6;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.2s;
  transform-origin: bottom;
}

a:hover::before {
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}

a:hover::after {
  top: 6px;
  left: 0;
  transform: perspective(1000px) rotateX(-70deg);
}

a:hover {
  color: black;
}
