* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  color: white;
  background: crimson;
}

.main {
  padding: 5px 0;
  text-align: center;
}

input {
  display: flex;
  flex-direction: column;
}

.inputs input{
  border: none;
  border-radius: 5px;
  padding: 1rem 10rem;
  outline: none;
  margin-bottom: 10px;
}

#selectOp{
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
}

#btn{
    border: none;
    background: transparent;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    margin-top: 10px;
    cursor: pointer;

}