* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.background {
  background: url(https://images.unsplash.com/photo-1592394675778-4239b838fb2c?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074)
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  /* Since we are taking left -30px hence we need to consider both sides left -30px and right -30px. hence we are providing 60px additional to the viewport width, same goes for height*/
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0);
}

.loading-text{
    font-size: 50px;
    color: red;
}