* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  padding: 2rem 3rem;
  background: blueviolet;
  color: white;
  position: relative;
}

a::before {
  content: "button";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 1s;
}

a::after {
  content: "button";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: chartreuse;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 1s;
  transition-delay: 0.5s;
}

a:hover::before {
  transform: rotateX(0);
}

a:hover::after {
  transform: rotateX(0);
}
