* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: rgb(5, 5, 5);
  color: #fff;
}

.container {
  display: flex;
  width: 100vw;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-1 {
  background-image: url(images/img1.webp);
}

.image-2 {
  background-image: url(images/img2.webp);
}

.image-3 {
  background-image: url(images/img3.webp);
}

.image-4 {
  background-image: url(images/img4.webp);
}

.image-5 {
  background-image: url(images/img5.webp);
}

.slide {
  position: relative;
  height: 80vh;
  flex: 0.5;
  border-radius: 50px;
  color: #fff;
  margin: 10px;
  cursor: pointer;
  transition: all 700ms ease-in;
}

.slide h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  font-size: 24px;
}

@media (max-width: 480px) {
  .slide:nth-of-type(4),
  .slide:nth-of-type(5) {
    display: none;
  }
}

/* JavaScript */
.slide.active {
  flex: 5;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
