* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background: #8a2be2;
  transition: 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.container button {
  padding: 0.5rem 1.5rem;
  font-size: 22px;
  border: 2px solid white;
  border-radius: 5px;
  background: transparent;
  color: white;
  cursor: pointer;

  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container button:hover {
  background: white;
  color: black;
}

.container button:active {
  padding: 5px;
}

.color {
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 2rem;
}
