*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #161a1d;
    --primary-color: #7289da;
    --gray-color: #4f4f4f;
}

body{
    background: var(--main-color);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Form */
form{
    border: 2px solid rgba(255, 255, 255, 0.224);
    border-radius: 5px;
    width: 30%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1.2;
    margin-left: 60px;
    margin-top: 50px;
}

form input{
    padding: 6px;
    width: 230px;
    outline: none;
}

input[type="submit"]{
    width: 230px;
    background: var(--primary-color);
    border: none;   
    padding: 10px 20px;
    cursor: pointer;
}

.already{
    margin-top: 20px;
}

form p{
    font-size: 14px;
    color: #fff;
}

form a{
    text-decoration: none;
    color: crimson;
}

.input-container p.msg{
    visibility: hidden;
    margin-bottom: 10px;
    margin-top: 5px;
}

.input-container.error p.msg{
    visibility: visible;
}

.content h1{
    position: absolute;
    top: 41%;
    right: 39%;
    font-size: 5rem;
    color: #fff;
}

.input-container.error input{
    border-color: red;
}

.input-container.success input{
    border-color: rgb(97, 249, 97);
}

img{
    width: 51%;
    position: absolute;
    top: 60px;
    right: 10%;
}