* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background: burlywood;
  color: white;
}

.content {
  padding: 4rem;
}

.content section {
  border: 2px solid white;
  margin: 20px 0;
  padding: 20px;
}

.content section h1 {
  margin: 10px 0;
}

.scroll-indicator {
  height: 5px;
  width: calc(100% - 6em);
  position: fixed;
  top: 10px;
  left: 3em;
  border-radius: 3px;
}

.scroll-indicator .progress {
  height: 100%;
  width: 0;
  border-radius: 3px;
  background: linear-gradient(30deg, #21d3fd, #b721ff);
}
