* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #242837;
}

h1 {
  font-family: fantasy;
  margin-bottom: 5rem;
  color: rgb(103, 172, 92);
  font-size: 3.5rem;
}

body .mainForm{
    position: relative;
    width: 580px;
    padding: 35px;
    background-color: #151a26;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .mainForm input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 1.5rem;
    padding: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .mainForm input::placeholder{
    color: #ccc;
    font-weight: 400;
    font-size: 1.5rem;
}

/* JavaScript */

form.invalid::before{
    content: "";
    position: absolute;
    right: 25px;
    background: url("images/invalid.png") no-repeat center;
    background-size: cover;
    width: 32px;
    height: 32px;
    object-fit: cover;
    transition: 0.4s ease;
}

form.valid::before{
    content: "";
    position: absolute;
    right: 14px;
    background: url("images/valid.png") no-repeat center;
    background-size: cover;
    width: 32px;
    height: 32px;
    object-fit: cover;
    transition: 0.4s ease;
}
