* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: blanchedalmond;
  font-family: sans-serif;
  color: white;
}

.scroll-container {
  background: rgb(7, 7, 7);
  width: 35vw;
  height: 60vh;
  padding: 2rem;
}

.scroll-div {
  width: 100%;
  height: 100%;
  padding-right: 2rem;
  background: rgb(7, 7, 7);
  overflow: hidden;
  overflow-y: scroll;
}

.scroll-div::-webkit-scrollbar {
  background: crimson;
  width: 12px;
  border-radius: 10px;
}

.scroll-div::-webkit-scrollbar-thumb {
  background: white;
  border: 2px solid #cccc;
  border-radius: 10px;
}
