* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
  font-family: sans-serif;
}

ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 1rem;
  padding: 1rem 2rem;
  font-size: 22px;
  position: relative;
}

ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s;
}

ul li a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s;
}

ul li a:hover::before,
ul li a:hover::after {
  transform: scaleX(1);
}
