* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(10, 10, 10);
}

.container {
  position: relative;
  width: 25rem;
  height: 30rem;
  padding: 2rem;
  background: white;
  font-family: sans-serif;
  overflow: hidden;
}
.container article {
  position: relative;
  transition: 0.5s;
}
.container article h1 {
  padding: 1.5rem 0 0.5rem 0;
  font-size: 32px;
  line-height: 1rem;
}
.container article p {
  margin: 2rem 0;
  font-size: 18px;
  line-height: 1.5rem;
}
.container article button {
  background: rgb(22, 7, 35);
  color: white;
  font-size: 15px;
  padding: 10px 30px;
}

.container::before {
  position: absolute;
  content: "";
  background: blueviolet;
  bottom: calc(-100% + 5px);
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.container:hover::before {
  bottom: 0;
}

.container:hover article {
  color: white;
}
