@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

body {
  height: 100vh;
  background: #000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.container h1 {
  font-size: 4rem;
  font-family: "Playfair Display SC", serif;
}
.container p {
  max-width: 700px;
  font-family: sans-serif;
  letter-spacing: 2px;
  line-height: 22px;
  margin-bottom: 40px;
}
.container button {
  margin: 0;
  padding: 0;
  border: transparent;
  border: 2px solid white;
  background: transparent;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

/* JavaScript */
.cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background: yellow;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
