@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  color: #20c20e;
  font-size: 8rem;
  letter-spacing: 7px;
}
