* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(26, 25, 25);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.panel-container {
  background: #1d1c1c;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 700px;
  color: white;
}

strong {
  font-size: 1.5rem;
}

.ratings-container {
  display: flex;
  margin: 10px 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
}

.rating {
  flex: 1;
  padding: 20px;
  margin: 10px 5px;
  cursor: pointer;
}

/* JavaScript */
.rating:hover,
.rating.active {
  border-radius: 4px;
  background-color: #ccc;
  transition: 1s ease;
}

.rating .icon {
  width: 40px;
  font-size: 5rem;
  margin-left: 20px;
}

.rating small {
  color: #fff;
  display: inline-block;
  margin: 10px 0 0;
  font-size: 1rem;
}

.btn {
  background: #fff;
  color: #000;
  border: 0;
  border-radius: 4px;
  padding: 12px 30px;
  cursor: pointer;
  outline: 0;
}

.btn.active {
  transform: scale(0.98);
}

/* JavaScript */
.heart {
  font-size: 3rem;
  margin-bottom: 10px;
}
